/*<editor-fold desc="Reset tags" default-state="collapsed">*/
/* Reset for common elements */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Reset for headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/* Reset for lists */
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Reset for block elements */
div, div.p, pre, form {
    margin: 0;
    padding: 0;
}
/*</editor-fold>*/
/*<editor-fold desc="Font definitions">*/
@font-face {
    font-family: "Birdseye";
    src: url("../fonts/17c55b27-e9ab-43cd-b948-d49f97480d68d41d.eot?#iefix?1717543760");
    src: url("../fonts/17c55b27-e9ab-43cd-b948-d49f97480d68d41d.eot?#iefix?1717543760")
    format("eot"),
    url("../fonts/2e3f5cb9-101f-46cf-a7b3-dfaa58261e033a50.woff2?1717543760")
    format("woff2"),
    url("../fonts/fa19948e-5e38-4909-b31e-41acd170d6f23a50.woff?1717543760")
    format("woff"),
    url("../fonts/6de0ce4d-9278-467b-b96f-c1f5f0a4c3753a50.ttf?1717543760")
    format("truetype"),
    url("../fonts/9fd4ea0c-b19a-4b21-9fdf-37045707dd78.svg#9fd4ea0c-b19a-4b21-9fdf-37045707dd78?1717543760")
    format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Birdseye";
    src: url("../fonts/8b498c39-fabe-4789-bb81-5e37c9ecddd3d41d.eot?#iefix?1717543760");
    src: url("../fonts/8b498c39-fabe-4789-bb81-5e37c9ecddd3d41d.eot?#iefix?1717543760")
    format("eot"),
    url("../fonts/1c6c1881-23c9-4d6a-a018-759d1c9ded153a50.woff2?1717543760")
    format("woff2"),
    url("../fonts/f0d655c5-a88a-49ad-bb29-f3b5cca417313a50.woff?1717543760")
    format("woff"),
    url("../fonts/3a561c83-40d4-4868-8255-e8455eb009c43a50.ttf?1717543760")
    format("truetype"),
    url("../fonts/3966f856-9dcf-48e7-88e7-7400f1b7d619.svg#3966f856-9dcf-48e7-88e7-7400f1b7d619?1717543760")
    format("svg");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Birdseye";
    src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42d41d.eot?#iefix?1717543760");
    src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42d41d.eot?#iefix?1717543760")
    format("eot"),
    url("../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da533a50.woff2?1717543760")
    format("woff2"),
    url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a3a50.woff?1717543760")
    format("woff"),
    url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd83a50.ttf?1717543760")
    format("truetype"),
    url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f?1717543760")
    format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Birdseye";
    src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301d41d.eot?#iefix?1717543760");
    src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301d41d.eot?#iefix?1717543760")
    format("eot"),
    url("../fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f843a50.woff2?1717543760")
    format("woff2"),
    url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc3a50.woff?1717543760")
    format("woff"),
    url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da83a50.ttf?1717543760")
    format("truetype"),
    url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585?1717543760")
    format("svg");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Birdseye";
    src: url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0d41d.eot?#iefix?1717543760");
    src: url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0d41d.eot?#iefix?1717543760")
    format("eot"),
    url("../fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e3a50.woff2?1717543760")
    format("woff2"),
    url("../fonts/f26faddb-86cc-4477-a253-1e12876843363a50.woff?1717543760")
    format("woff"),
    url("../fonts/63a74598-733c-4d0c-bd91-b01bffcd6e693a50.ttf?1717543760")
    format("truetype"),
    url("../fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80?1717543760")
    format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Birdseye";
    src: url("../fonts/77a9cdce-ea6a-4f94-95df-e6a54555545ed41d.eot?#iefix?1717543760");
    src: url("../fonts/77a9cdce-ea6a-4f94-95df-e6a54555545ed41d.eot?#iefix?1717543760")
    format("eot"),
    url("../fonts/3f380a53-50ea-4a62-95c5-d5d8dba03ab83a50.woff2?1717543760")
    format("woff2"),
    url("../fonts/8344e877-560d-44d4-82eb-9822766676f93a50.woff?1717543760")
    format("woff"),
    url("../fonts/b28b01d9-78c5-46c6-a30d-9a62c8f407c53a50.ttf?1717543760")
    format("truetype"),
    url("../fonts/ed4d3c45-af64-4992-974b-c37cd12a9570.svg#ed4d3c45-af64-4992-974b-c37cd12a9570?1717543760")
    format("svg");
    font-weight: 600;
    font-style: italic;
}
/*</editor-fold>*/

body {
    /* Footer background and text colors */
    background: rgba(0, 0, 0, 0.05);
    color: #000000;

    /* Possibly removable (defaults) */
    font-size: 16px;
    font-weight: 500;

    /* Overridden */
    font-family: "Birdseye", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Title */
h1 {
    font-weight: 100;
    margin: 15px auto;
    font-size: 65px;
    line-height: 70px;
    font-family: "Droid Serif", sans-serif;
    color: #000000;
    letter-spacing: 0;
}

/* Subtitle */
h2 {
    color: #2a2a2a;
    font-family: "Lora", sans-serif;
    font-size: 42px;
    line-height: 54px;
    font-weight: 700;
    margin: 0 auto 30px;
}

/* Smaller subtitle (more like big paragraph text) */
h4 {
    font-weight: 200;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #2a2a2a;
    margin-bottom: 50px
}

/* Dividers are used as paragraphs to allow block-level elements (such as lists) to be placed inside them. */
div.p {
    font-weight: 500;
    margin: 0 auto 30px;

    font-size: 16px;
    line-height: 23px;

    font-family: "Roboto", sans-serif;
    color: #626262;
}

/* Link styles for paragraphs */
div.p a {
    color: inherit;
    text-decoration: underline;
    transition: all 200ms ease-in-out;
}
div.p a:link {
    color: #0000ee;
}
div.p a:visited {
    color: #551a8b;
}
div.p a:hover {
    color: #e70707;
}

div.p ul {
    list-style: disc inside;
}

/* Background image */
.header-section {
    background: url(../images/geometric.jpg) no-repeat top center transparent;
    height: 600px;
    background-size: cover;
    width: 100vw;
}

/* Blurs the background and adds a gradient */
.header-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(4px)
}

/* Vertically centers the title content */
.header-section, .body-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* No idea what this does */
    box-sizing: border-box;
}

/* Sizes the paragraph content box and positions the text at the top */
.body-section {
    min-height: 400px;
    justify-content: flex-start;
}

.header-wrap {
    position: relative;
    /* Likely overridden */
    background: #000000;
    color: #ffffff;
}

/* Padding for title div */
.header-wrap .container {
    padding: /* Does nothing because of flexbox */100px /* Limits text width */40px;
}

/* Aligns title text */
.header-wrap .header {
    text-align: center;
}

/* Title area paragraphs; not used */
.header-wrap div.p {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.15em;
    margin: 15px auto;
}

.container,
.footer {
    position: relative;
}

/* Main content */
.main-wrap {
    width: 100%;
    background: #ffffff;
}

/* Container div for main content */
.main-wrap .container {
    padding: 60px 40px;
}

/* Content and footer control */
.header-wrap .container,
.main-wrap .container,
.footer {
    max-width: 1200px;
    margin: 0 auto;
}

/*<editor-fold desc="Footer properties">*/
#footer-wrap {
    width: 100%;
    font-size: 14px;
}

#footer-wrap .footer {
    padding: 20px 40px;
}

#footer-wrap h2,
#footer-wrap div.p {
    margin: 0 auto 20px;
}

#footer-wrap h2 {
    font-size: 20px;
}
/*</editor-fold>*/

/* <editor-fold desc="Navbar properties"> */
.nav-wrap {
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    padding: 20px 40px;
    color: #ffffff;
    border-color: #ffffff;
    box-sizing: border-box;
    /* The transition from top to scrolled */
    transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;

    backface-visibility: hidden;
}
.nav-wrap .container /* The container specification seems unnecessary, so this could be merged with the above selector */ {
    display: block;
    width: 100%;
    max-height: 80px;
    overflow: visible;
}
.nav-wrap .hamburger {
    display: none;
    box-sizing: initial;
}

/* Fix FA icons in the navbar */
:is(.desktop-nav, .mobile-nav) i:is(.fa-solid, .fa-regular) {
    line-height: 12px;
}

.desktop-nav, .mobile-nav {
    display: block;
    text-align: right;
}

:is(.desktop-nav, .mobile-nav) ul {
    display: inline-block;
    max-width: calc(100vw - 480px);
    margin: 0;
    padding: 0;
    text-align: right;
}

:is(.desktop-nav, .mobile-nav) li {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

:is(.desktop-nav, .mobile-nav) .nav-item {
    display: block;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: opacity 300ms ease;
}

:is(.desktop-nav, .mobile-nav) li.active > .nav-item {
    border-color: inherit;
    border-radius: 5px;
}

/* Nav item hover effect */
.desktop-nav li a.nav-item {
    position: relative;
}

.desktop-nav li a.nav-item::before, li a.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #56e3e8, #135cfc);
    bottom: -5px;
    left: 0;
    transform: scaleX(0) translate3d(0,0,0) /* Included to ensure the effect is uniform */;
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
.desktop-nav li a.nav-item::before {
    top: -5px;
    transform-origin: left;
    background: linear-gradient(to left, #56e3e8, #135cfc);
}
.desktop-nav li a.nav-item:hover::before,
.desktop-nav li a.nav-item:hover::after,
.desktop-nav li.more-subnav-wrap:hover a.nav-item::before {
    transform: scaleX(1) translate3d(0,0,0) /* Included to ensure the effect is uniform */;
}

.desktop-nav li .more-subnav-wrap a.nav-item::after {
    display: none;
}
.desktop-nav li .more-subnav-wrap a.nav-item::before {
    transform-origin: center;
}

.desktop-nav li.active a.nav-item {
    transition: border 0.3s ease;
}
.desktop-nav li.active a.nav-item:hover {
    border: 1px rgba(0, 0, 0, 0%) solid;
}

/* Simple opacity effect for the mobile version */
.mobile-nav li a.nav-item:hover {
    opacity: 0.5;
}

/* Default display for the more subnav (none) */
li.more-subnav-wrap {
    display: none;
}
div.more-subnav-content {
    visibility: hidden;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.subnav-item {
    display: none;
}

.mobile-nav {
    display: none;
}
/* </editor-fold> */

/*<editor-fold desc="Scrolled navbar properties"> */
body.affix .nav-wrap {
    position: fixed;
    padding: 10px 40px;
}


body.affix .nav-wrap .nav-item {
    padding: 10px 20px;
}

body.affix .nav-wrap {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
}

body.affix .nav-wrap .hamburger span,
body.affix .nav-wrap .hamburger span:before,
body.affix .nav-wrap .hamburger span:after {
    background: #000000;
}

/* A dark mode navigation; possibly good for the rest of the site later */
body.affix.alt-nav-on .nav-wrap {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    border-color: #ffffff;
}

/* </editor-fold> */

.desktop-nav {
    opacity: 0;
    transition: opacity 600ms ease-in 300ms;
    height: 50px;
}
body.affix .desktop-nav {
    height: 46px;
}
.fade-in .desktop-nav {
    opacity: 1;
}

@media screen and (max-width: 1263px) {
    /* Todo: add display for active page in more subnav */
    li.more-subnav-wrap {
        display: inline-block;
    }
    li.more-subnav-wrap > div.more-subnav-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li.more-subnav-wrap .more-subnav-content {
        position: absolute;
        text-align: center;
        border-radius: 5px;
        background: #eeeeee;
        color: #000000;
        top: 100%;
        width: 100%;
    }
    li.more-subnav-wrap:hover .more-subnav-content {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .subnav-item {
        font-weight: 500;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        padding: 5px 0;
        transition: opacity 300ms ease-in-out;
    }
    .subnav-item:hover {
        opacity: 0.5;
    }
}

@media screen and (max-width: 992px) {
    font[size="1"] {
        font-size: 50%;
    }
    font[size="2"] {
        font-size: 75%;
    }
    font[size="3"] {
        font-size: 125%;
    }
    font[size="4"] {
        font-size: 150%;
    }
    font[size="5"] {
        font-size: 175%;
    }
    font[size="6"] {
        font-size: 200%;
    }
    font[size="7"] {
        font-size: 250%;
    }
    .container,
    .footer {
        overflow: hidden;
    }
    .nav-wrap {
        top: 0;
        left: 0;
        padding: 5px 20px !important /* Necessary to override existing settings with higher specificity*/;
        min-height: 50px;
    }
    .nav-wrap .container {
        min-height: 40px;
        max-height: inherit;
    }
    .nav-wrap .hamburger {
        display: inline;
        vertical-align: middle;
    }
    body.nav-open .mobile-nav {
        padding: 50px 0;
        max-height: 100vh;
    }
    body.nav-open .nav-wrap label.hamburger span {
        position: relative;
        background: transparent;
    }
    body.nav-open .nav-wrap label.hamburger span:before {
        top: 1px;
        transform: rotate(45deg);
    }
    body.nav-open .nav-wrap label.hamburger span:after {
        top: -1px;
        transform: rotate(135deg);
    }
    .hamburger {
        position: absolute;
        top: -5px;
        right: -10px;
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    .hamburger span,
    .hamburger span:before,
    .hamburger span:after {
        position: relative;
        display: block;
        width: 22px;
        height: 2px;
        background: #ffffff;
        content: "";
        transition: all 200ms ease-in-out;
    }
    .hamburger span {
        top: 9px;
        left: 4px;
        margin: 5px 0;
    }
    .hamburger span:before {
        top: -8px;
    }
    .hamburger span:after {
        bottom: -6px;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        max-height: 0;
        padding: 0;
        background: #ffffff;
        box-sizing: border-box;
        transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
        text-align: center;
    }
    .mobile-nav .hamburger {
        top: 0;
        right: 10px;
    }
    .mobile-nav .hamburger span {
        background: transparent;
    }
    .mobile-nav .hamburger span:before {
        top: 1px;
        background: #000000;
        transform: rotate(45deg);
    }
    .mobile-nav .hamburger span:after {
        top: -1px;
        background: #000000;
        transform: rotate(135deg);
    }
    .mobile-nav ul {
        float: none;
        height: auto;
        max-width: none;
    }
    .mobile-nav li {
        position: relative;
        display: block;
        margin: 0;
        border: none;
        text-align: center;
    }
    .mobile-nav li > a.nav-item {
        position: relative;
        padding: 10px 0;
        font-size: 12px;
        border: none;
    }
    .mobile-nav li.nav-item-wrap.active > a.nav-item,
    .mobile-nav li.nav-item-wrap > a.nav-item:hover {
        background: rgba(0, 0, 0, 0.05);
        width: 100vw;
        font-size: 12px;
        border: none;
    }

    .header-wrap .container {
        padding: 60px 20px;
        word-wrap: break-word;
    }
    h1 {
        font-size: 50px;
    }
    .main-wrap .container {
        padding: 30px 20px;
    }
    #footer-wrap .footer {
        width: 100%;
        padding: 30px 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    font[size="1"] {
        font-size: 50%;
    }
    font[size="2"] {
        font-size: 75%;
    }
    font[size="3"] {
        font-size: 110%;
    }
    font[size="4"] {
        font-size: 120%;
    }
    font[size="5"] {
        font-size: 130%;
    }
    font[size="6"] {
        font-size: 140%;
    }
    font[size="7"] {
        font-size: 150%;
    }
    h1 {
        font-size: clamp(10px, 9vw, 50px);
    }
}