
/*<editor-fold desc="Reset tags" default-state="collapsed">*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
div, div.p, form, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/*</editor-fold>*/

body {
    /* Footer background and text colors */
    background: rgba(0, 0, 0, 0.05);
    color: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Title */
h1 {
    font-weight: 100;
    margin: 15px auto;
    font-size: 65px;
    line-height: 70px;
    font-family: "Noto Serif", serif;
    color: #000000;
    letter-spacing: 0;
}

/* Subtitle */
h2 {
    color: #2a2a2a;
    font-family: "Lora", sans-serif;
    font-size: 42px;
    line-height: 54px;
    font-weight: 700;
    margin: 0 auto 30px;
}

/* h2 but smaller font size (used for resume format) */
h2.subtitle {
    margin-bottom: 5px;
    font-size: 32px;
    border-top: 1px solid black;
    padding-top: 10px;
}

h3 {
    color: #2a2a2a;
    font-family: "Noto Serif", serif;
    font-size: 20px;
}

/* Smaller subtitle (more like big paragraph text) */
h4 {
    font-weight: 200;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #2a2a2a;
    margin-bottom: 50px
}

/* Dividers are used as paragraphs to allow block-level elements (such as lists) to be placed inside them */
div.p {
    font-weight: 500;
    margin: 0 auto 30px;

    font-size: 16px;
    line-height: 23px;

    font-family: "Roboto", sans-serif;
    color: #626262;
}

/* Link styles for paragraphs */
div.p a {
    color: inherit;
    text-decoration: underline;
    transition: all 200ms ease-in-out;
}
div.p a:link {
    color: #0000ee;
}
div.p a:visited {
    color: #551a8b;
}
div.p a:hover {
    color: #e70707;
}

div.p ul {
    list-style: disc inside;
}

/* Header image and styling */
.header-wrap {
    position: relative;
    background: url(../images/geometric.jpg) no-repeat top center transparent;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

/* Blurs the background and adds a gradient */
.header-wrap::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(4px);
}

/* Padding for title div */
.header-wrap .container {
    padding: /* Does nothing because of flexbox */100px /* Limits text width */40px;
}

.container,
.footer {
    position: relative;
}

.main-wrap .res.container {
    max-width: 1000px;
    box-sizing: content-box;
}
.main-wrap .res.container div.p {
    margin-bottom: 20px;
    padding-top: 10px;
}
.container .last-res-item {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

/* Main content */
.main-wrap {
    width: 100%;
    background: #ffffff;
    min-height: 400px;
}

/* Container div for main content */
.main-wrap .container {
    padding: 60px 40px;
}

/* Content and footer control */
.header-wrap .container,
.main-wrap .container,
.footer {
    max-width: 1200px;
    margin: 0 auto;
}

/*<editor-fold desc="Footer properties">*/
#footer-wrap {
    width: 100%;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}
#footer-wrap .footer {
    padding: 20px 40px;
}
#footer-wrap h2,
#footer-wrap div.p {
    margin: 0 auto 20px;
}
#footer-wrap h2 {
    font-size: 20px;
}

/*</editor-fold>*/

/* <editor-fold desc="Navbar properties"> */
.desktop-nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 20px 40px;
    color: #ffffff;
    border-color: #ffffff;
    box-sizing: border-box;
    /* The transition from top to scrolled */
    transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;

    backface-visibility: hidden;
}
.desktop-nav .container /* The container specification seems unnecessary, so this could be merged with the above selector */ {
    display: block;
    width: 100%;
    max-height: 80px;
    overflow: visible;
}
.desktop-nav .hamburger {
    display: none;
    box-sizing: initial;
}

/* Fix FA icons in the navbar */
:is(.desktop-nav, .mobile-nav) i:is(.fa-solid, .fa-regular) {
    line-height: 12px;
}

.desktop-nav, .mobile-nav {
    display: block;
    text-align: right;
}

:is(.desktop-nav, .mobile-nav) ul {
    display: inline-block;
    max-width: calc(100vw - 480px);
    margin: 0;
    padding: 0;
    text-align: right;
}

:is(.desktop-nav, .mobile-nav) li {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

:is(.desktop-nav, .mobile-nav) .nav-item {
    display: block;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: opacity 300ms ease;
}

:is(.desktop-nav, .mobile-nav) li.active > .nav-item {
    border-color: inherit;
    border-radius: 5px;
}

/* Nav item hover effect */
.desktop-nav li a.nav-item {
    position: relative;
}

.desktop-nav li a.nav-item::before, li a.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #56e3e8, #135cfc);
    bottom: -5px;
    left: 0;
    transform: scaleX(0) translate3d(0,0,0) /* Included to ensure the effect is uniform */;
    transform-origin: right;
    transition: transform 400ms ease-out;
}
.desktop-nav li a.nav-item::before {
    top: -5px;
    transform-origin: left;
    background: linear-gradient(to left, #56e3e8, #135cfc);
}
.desktop-nav li a.nav-item:hover::before,
.desktop-nav li a.nav-item:hover::after,
.desktop-nav li.more-subnav-wrap:hover a.nav-item::before {
    transform: scaleX(1) translate3d(0,0,0) /* Included to ensure the effect is uniform */;
}

.desktop-nav li .more-subnav-wrap a.nav-item::after {
    display: none;
}
.desktop-nav li .more-subnav-wrap a.nav-item::before {
    transform-origin: center;
}

.desktop-nav li.active a.nav-item {
    transition: border 300ms ease;
}
.desktop-nav li.active a.nav-item:hover {
    border: 1px rgba(0, 0, 0, 0%) solid;
}

/* Simple opacity effect for the mobile version */
.mobile-nav li a.nav-item:hover {
    opacity: 0.5;
}

/* Default display for the more subnav (none) */
li.more-subnav-wrap {
    display: none;
}
div.more-subnav-content {
    visibility: hidden;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 400ms ease-in-out;
}
.subnav-item {
    display: none;
}

.mobile-nav {
    display: none;
}
/* </editor-fold> */

/*<editor-fold desc="Scrolled navbar properties"> */
body.affix .desktop-nav {
    position: fixed;
    padding: 10px 40px;
}
body.affix .desktop-nav .nav-item {
    padding: 10px 20px;
}
body.affix .desktop-nav {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
}

body.affix .desktop-nav .hamburger span,
body.affix .desktop-nav .hamburger span:before,
body.affix .desktop-nav .hamburger span:after {
    background: #000000;
}

/* A dark mode navigation; possibly good for the rest of the site later */
body.affix.alt-nav-on .desktop-nav {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    border-color: #ffffff;
}
/* </editor-fold> */

/*<editor-fold desc="Notice bar properties">*/
.notice-bar {
    display: none; /* Updated by JavaScript */
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    background-color: rgba(220, 7, 7, 0.5);
    padding: 5px 10px;
    overflow: visible;
    font-family: Roboto, sans-serif;
    color: #ffffff;
}
.notice-bar .container {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}
.notice-bar .container span {
    padding: 2px;
    cursor: pointer;

    transition: opacity 300ms ease;
}
.notice-bar .container span:hover {
    opacity: 0.5;
}
.notice-bar .container .info {
    display: none;
    padding-top: 10px;
}
.notice-bar button {
    padding: 10px;
    font-size: 25px;
    background-color: transparent;
    color: inherit;

    transition: opacity 300ms ease;
}
.notice-bar button:hover {
    opacity: 0.5;
}
.notice-bar .spacer {
    visibility: hidden;
    padding: 10px;
    font-size: 25px;
}

/*</editor-fold>*/

.desktop-nav ul {
    opacity: 0;
    transition: opacity 600ms ease-in 300ms;
    /*height: 50px;*/
}
body.affix .desktop-nav {
    /*height: 46px;*/
}
.fade-in .desktop-nav ul {
    opacity: 1;
}

/*<editor-fold desc="'More subnav' properties (when enabled)">*/
.more-subnav-enabled li.more-subnav-wrap {
        display: inline-block;
    }
.more-subnav-enabled li.more-subnav-wrap > div.more-subnav-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.more-subnav-enabled li.more-subnav-wrap .more-subnav-content {
        position: absolute;
        text-align: center;
        border-radius: 5px;
        background: #eeeeee;
        color: #000000;
        top: 100%;
        width: 100%;
    }
.more-subnav-enabled li.more-subnav-wrap:hover .more-subnav-content {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
.more-subnav-enabled .subnav-item {
        font-weight: 500;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        padding: 5px 0;
        transition: opacity 300ms ease-in-out;
    }
.more-subnav-enabled .subnav-item:hover {
        opacity: 0.5;
    }
.more-subnav-enabled .subnav-item.active span {
        display: inline;
        border: 1px black solid;
        border-radius: 5px;
        padding: 2px;
    }

.more-subnav-enabled .subnav-item {
        position: relative;
    }
/*</editor-fold>*/

@media screen and (max-width: 992px) {
    .container,
    .footer {
        overflow: hidden;
    }
    .desktop-nav {
        top: 0;
        left: 0;
        padding: 5px 20px !important /* Necessary to override existing settings with higher specificity*/;
        min-height: 50px;
    }
    .desktop-nav .container {
        min-height: 40px;
        max-height: inherit;
    }
    .desktop-nav .hamburger {
        display: inline;
        vertical-align: middle;
    }
    body.nav-open .mobile-nav {
        padding: 50px 0;
        max-height: 100vh;
    }
    body.nav-open .desktop-nav label.hamburger span {
        position: relative;
        background: transparent;
    }
    body.nav-open .desktop-nav label.hamburger span:before {
        top: 1px;
        transform: rotate(45deg);
    }
    body.nav-open .desktop-nav label.hamburger span:after {
        top: -1px;
        transform: rotate(135deg);
    }
    .hamburger {
        position: absolute;
        top: -5px;
        right: -10px;
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    .hamburger span,
    .hamburger span:before,
    .hamburger span:after {
        position: relative;
        display: block;
        width: 22px;
        height: 2px;
        background: #ffffff;
        content: "";
        transition: all 200ms ease-in-out;
    }
    .hamburger span {
        top: 9px;
        left: 4px;
        margin: 5px 0;
    }
    .hamburger span:before {
        top: -8px;
    }
    .hamburger span:after {
        bottom: -6px;
    }
    .desktop-nav ul {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        max-height: 0;
        padding: 0;
        background: #ffffff;
        box-sizing: border-box;
        transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
        text-align: center;
    }
    .mobile-nav .hamburger {
        top: 0;
        right: 10px;
    }
    .mobile-nav .hamburger span {
        background: transparent;
    }
    .mobile-nav .hamburger span:before {
        top: 1px;
        background: #000000;
        transform: rotate(45deg);
    }
    .mobile-nav .hamburger span:after {
        top: -1px;
        background: #000000;
        transform: rotate(135deg);
    }
    .mobile-nav ul {
        float: none;
        height: auto;
        max-width: none;
    }
    .mobile-nav li {
        position: relative;
        display: block;
        margin: 0;
        border: none;
        text-align: center;
    }
    .mobile-nav li > a.nav-item {
        position: relative;
        padding: 10px 0;
        font-size: 12px;
        border: none;
    }
    .mobile-nav li.nav-item-wrap.active > a.nav-item,
    .mobile-nav li.nav-item-wrap > a.nav-item:hover {
        background: rgba(0, 0, 0, 0.05);
        width: 100vw;
        font-size: 12px;
        border: none;
    }

    .header-wrap .container {
        padding: 60px 20px;
        word-wrap: break-word;
    }
    h1 {
        font-size: 50px;
    }
    .main-wrap .container {
        padding: 30px 20px;
    }
    #footer-wrap .footer {
        width: 100%;
        padding: 30px 20px; /*todo: Is it necessary to remove this?*/
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: clamp(20px, 9vw, 50px);
    }
}